<h1 class="text-center text-success ">Add Comment</h1>

<div class="row justify-content-center m-3">
    <div class="col-lg-3">
        <%= image_tag(@post.picture, size:"100x100") %>
    </div>
</div>

<%= form_with model: @comment, url: post_comments_path do |form| %>
    <div class="row justify-content-center">
        <div class="col-lg-3">
            <div class="form-group">
                <%= form.label :body, style: "display: block" %>
                <%= form.text_field :body, class:"form-control" %>
            </div>
        </div>
    </div>

    <div class="row justify-content-center mt-3">
        <div class="col-lg-3">
            <%= form.submit "Add Comment", class:"btn btn-success" %>
        </div>
    </div>


<% end %>
