<div class="main_div">
    <p class="text-center">Commets By
        <span class="text-green"><%= @post.user.email %></span>
    </p>
    <div class="row justify-content-center">
        <div class="col-lg-4">
            <%= image_tag(@post.picture,size: "150x150") %>
        </div>
    </div>

    <div class="row justify-content-center">
        <div class="col-lg-4">
            <% @post.comments.order(id: :desc).each do |comment| %>
                <p>
                   <b>Comment Body</b> <%= comment.body %>
                </p>
                 <% comment.replies.order(id: :desc).each do |reply|%>
                 <p>
                   <b>Reply Body</b> <%= reply.body %>
                </p>

                 <p>
                   <%= link_to "Edit Reply", edit_comment_reply_path(comment.id,reply.id) %>
                   <%= button_to "Delete Reply", comment_reply_path(comment.id,reply.id), method: :delete, class: "btn_reply" %>
                </p>

                <p>
                   <%= time_ago_in_words(reply.updated_at) + " age" %>
                </p>

                <% end %>

                <div class="row">
                    <div class="m-2">
                        <b>Commentor Email </b>- <%= comment.commentor_email %>
                    </div>
                    <div class="mt-2">
                        <%= link_to "Edit", edit_post_comment_path(@post,comment.id) %>
                        <%= link_to "Reply", new_comment_reply_path(comment.id), style: "margin-left: 90px;" %>
                       
                        <%= button_to "Delete", post_comment_path(@post,comment.id), method: :delete, class: "btn_class" %>
                    </div>
                    <div class="m-2">
                    <p> <i> <%= time_ago_in_words(comment.updated_at) + " ago" %> </i></p>
                    </div>
                    <div class=""></div>
                </div>
            <% end %>
        </div>
    </div>


</div>
