<h2 class="text-center text-success m-4">Change your password</h2>

<% content_for :head do %>
    Set Your Password
<% end %>


<%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :put }) do |f| %>
    <%= render "devise/shared/error_messages", resource: resource %>
    <%= f.hidden_field :reset_password_token %>

    <div class="row justify-content-center mt-3">
        <div class="col-lg-3">
            <div class="field form-group">
                <%= f.label :password, "New password" %><br/>
                <% if @minimum_password_length %>
                    <em>(<%= @minimum_password_length %>
                        characters minimum)</em><br/>
                <% end %>
                <%= f.password_field :password, autofocus: true, autocomplete: "new-password", class:"form-control" %>
            </div>
        </div>
    </div>

    <div class="row justify-content-center mt-3">
        <div class="col-lg-3">
            <div class="field form-group">
                <%= f.label :password_confirmation, "Confirm new password" %><br/>
                <%= f.password_field :password_confirmation, autocomplete: "new-password", class:"form-control" %>
            </div>
        </div>
    </div>

    <div class="row justify-content-center mt-3">
        <div class="col-lg-3">
             <%= f.submit "Change my password", class:"btn btn-primary" %>
        </div>
    </div>

<% end %>

<div class="row justify-content-center mt-3">
        <div class="col-lg-3">
            <%= render "devise/shared/links" %>

        </div>
    </div>
