<%= form_with(model: post) do |form| %>
    <% if post.errors.any? %>
        <div style="color: red">
            <h2><%= pluralize(post.errors.count, "error") %>
                prohibited this post from being saved:</h2>

            <ul>
                <% post.errors.each do |error| %>
                    <li><%= error.full_message %></li>
                <% end %>
            </ul>
        </div>
    <% end %>

    <div class="row justify-content-center mt-3">
        <div class="col-lg-3">
            <div class="form-group">
                <%= form.label :title, style: "display: block" %>
                <%= form.text_field :title, class:"form-control" %>
            </div>
        </div>
    </div>


    <div class="row justify-content-center mt-3">
        <div class="col-lg-3">
            <div class="form-group">
                <%= form.label :body, style: "display: block" %>
                <%= form.text_field :body, class:"form-control" %>
            </div>
        </div>
    </div>


    <div class="row justify-content-center mt-3">
        <div class="col-lg-3">
            <div class="form-group">
                <%= form.label :picture, style: "display: block" %>
                <%= form.file_field :picture, class:"form-control" %>
            </div>
        </div>
    </div>

    <div class="row justify-content-center mt-3">
        <div class="col-lg-3">
            <div class="form-group">
                <%= form.label :picture, style: "display: block" %>
                <%= form.collection_select :category_id, Category.order(:name), :id, :name, {prompt: "Select Category"}, class:"form-select" %>
            </div>
        </div>
    </div>


    <div class="row justify-content-center mt-3">
        <div class="col-lg-3">
            <%= form.submit class:"btn btn-success" %>
        </div>
    </div>


<% end %>
